In [26]:
import pandas as pd
from sodapy import Socrata
import pymongo

In [5]:
token = "Mrbrudsl7PrLCDmte8bddptk0"

In [6]:
client = Socrata("agtransport.usda.gov", token)

In [22]:
results = client.get("wnn7-29tu", limit = 100000)

In [23]:
exports_db = pd.DataFrame.from_records(results)

In [24]:
exports_db

,date,week,month,year,myear,country,commodity,type,unit,wkexportscmy,...,outsalescmy,grosalescmy,netsalescmy,totcommcmy,outsalesnmy,netsalesnmy,marketingmonth,net_sales_total,outstanding_sales_total,my
0,2020-03-26T00:00:00.000,12,3,2020,2019,HONDURAS,Wheat,SRW,Metric Tons,0,...,9500,0,0,74296,9000,0,10,0,18500,NaN
1,2020-03-26T00:00:00.000,12,3,2020,2019,ECUADOR,Wheat,SRW,Metric Tons,0,...,0,0,0,93024,16000,16000,10,16000,16000,NaN
2,2020-03-26T00:00:00.000,12,3,2020,2019,SPAIN,Soybeans,NaN,Metric Tons,0,...,0,0,0,1219931,0,0,7,0,0,NaN
3,2020-03-26T00:00:00.000,12,3,2020,2019,UNKNOWN,Wheat,HRS,Metric Tons,0,...,150750,0,-22000,150750,14200,0,10,-22000,164950,NaN
4,2020-03-26T00:00:00.000,12,3,2020,2019,JAPAN,Wheat,HRS,Metric Tons,15245,...,305001,0,0,1047887,20100,0,10,0,325101,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2012-01-12T00:00:00.000,2,1,2012,2011,CANADA,Wheat,SRW,Metric Tons,0,...,2449,816,740,27844,0,0,8,740,2449,NaN
99996,2012-01-12T00:00:00.000,2,1,2012,2011,CHILE,Wheat,White,Metric Tons,0,...,0,0,0,170259,0,0,8,0,0,NaN
99997,2012-01-12T00:00:00.000,2,1,2012,2011,BURMA,Wheat,HRS,Metric Tons,0,...,0,0,0,9292,0,0,8,0,0,NaN
99998,2012-01-12T00:00:00.000,2,1,2012,2011,BURMA,Wheat,HRW,Metric Tons,0,...,0,0,0,1050,0,0,8,0,0,NaN
99999,2012-01-12T00:00:00.000,2,1,2012,2011,BURMA,Wheat,White,Metric Tons,0,...,0,0,0,456,0,0,8,0,0,NaN

In [27]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [28]:
# Define database and collection
db = client.exports_db
collection = db.Supply_Chain

In [30]:
db.collection.insert_many(exports_db.to_dict('records'))